:root {
    --3d-effect-offset: 0px 2px 0px;
    --3d-effect-offset-small: 0px 1px 0px;

    /*Gradients*/
    --orange-gradient: linear-gradient(to bottom, var(--Lightest2), var(--Mid2), var(--Darkest2));
    --orange-gradient-dark: linear-gradient(to bottom, var(--Mid2), var(--Dark2), var(--Darkest2));

    --orange-gradient-repeating: repeating-linear-gradient(to bottom, var(--Lightest2), var(--Mid2), var(--Darkest2) 1.375em);
    
    --gray-gradient: linear-gradient(to bottom, gray, white , black);

    /*Colors*/
    --Lightest1: #FFAAAA;
    --Light1: #D46A6A;
    --Mid1: #AA3939;
    --Dark1:#801515;
    --Darkest1: #550000;

    --Lightest2: #FFD1AA;
    --Light2: #D49A6A;
    --Mid2: #AA6C39;
    --Dark2: #804515;
    --Darkest2: #552600;

    --Lightest3: #CD88AF;
    --Light3: #AA5585;
    --Mid3: #882D61;
    --Dark3: #661141;
    --Darkest3: #440027;

    /*Shadows and other effects*/
    --shadow: drop-shadow(2px 2px 2px black);
    --3d-effect-orange: drop-shadow( var(--3d-effect-offset) var(--Darkest2) );
    --3d-effect-orange-small: drop-shadow( var(--3d-effect-offset) var(--Darkest2));
    --3d--effect-gray: drop-shadow(var(--3d-effect-offset-small) #333333);

}

html
{
    margin: 0px;
    background-color: var(--Lightest1);
}

body {
    margin: 0;
}

.siteHeader
{
    padding: 8px;
}

.topBar
{
    margin:  0 0 1cm 0;
    background-color: var(--Dark3);
    filter: drop-shadow(0px 5px 3px black);
}

p
{
    background-image: var(--orange-gradient-repeating);
    background-clip: text;
    color: transparent;
    filter: var(--shadow);
}

h1, h2, h3, h4, h5, h6, p, a
{
    font-family: 'Skranji', cursive;
}

h1, h2, h3, h4, h5, h6
{
    color: transparent;
    background-image: var(--orange-gradient-repeating);
    transform:translate(-2px, -2px);
    background-clip: text;
    filter: var(--3d-effect-orange) var(--shadow);

}

li > a
{
    text-decoration: none;
    color: transparent;
    text-shadow: none;
    background-image: var(--gray-gradient);
    background-clip: text;
    filter: var(--3d--effect-gray) var(--shadow);

}

ul.navBar
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    background-image: var(--orange-gradient);
    overflow: visible;
}

.navBar > li
{
    float:left;
    height: 100%;
    margin: 0;
    border-right: 2px solid var(--Darkest2);
    background-image: var(--orange-gradient);
}

.navBar > li a
{
    display: block;
    padding: 8px;
}

.navBar > li:hover
{
    background-image: var(--orange-gradient-dark);
}

.content
{
    max-width: max-content;
    min-width: min-content;
    margin: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}

.content > div
{
    padding: 8px;
    filter: var(--shadow);
}

.sideBar
{
    background-color: var(--Dark1);
    grid-area: 1 / 1 / span 3 / 1;
}

.projectsDisplay
{
    background-color: var(--Dark1);
    grid-area: 1 / 2 / span 3 / span 5;
    align-items: center;
}

