html
{
    margin: 0px;
    background-color: #ffaaaa;
    filter: hue-rotate(0.5deg);
}

body {
    margin: 0;
}

.siteHeader
{
    padding: 5px;
}

.topBar
{
    margin:  0 0 1cm 0;
    background-color: #661141;
    box-shadow: 0px 5px 2px black;
}

h1, h2, h3, h4, h5, h6, p, a
{
    font-family: 'Skranji', cursive;
}

h1, h2, h3, h4, h5, h6
{
    color: transparent;
    background-image: linear-gradient(to bottom, #FFD1AA, #AA6C39, #552600);
    transform:translate(-2px, -2px);
    background-clip: text;
    filter: drop-shadow(2px 2px 2px black);
}

li > a
{
    text-decoration: none;
    color: transparent;
    text-shadow: none;
    background-image: linear-gradient(to bottom, gray, darkgray , black);
    background-clip: text;
    filter: drop-shadow(2px 2px 2px black);

}

ul.navBar
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    background-image: linear-gradient(to bottom, #FFD1AA, #AA6C39, #552600);
    overflow: visible;
}

.navBar > li
{
    float:left;
    height: 100%;
    margin: 0;
    border-right: 2px solid #552600;
    background-image: linear-gradient(to bottom, #FFD1AA, #AA6C39, #552600);
}

.navBar > li a
{
    display: block;
    padding: 8px;
}

.navBar > li:hover
{
    background-image: linear-gradient(to bottom, #AA6C39, #804515);
}

.content
{
    max-width: max-content;
    min-width: min-content;
    margin: auto;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}

.content > div
{
    padding: 8px;
}

.sideBar
{
    background-color: #801515;
    grid-area: 1 / 1 / span 3 / 1;
}

.projectsDisplay
{
    background-color: #801515;
    grid-area: 1 / 2 / span 3 / span 5;
    align-items: center;

}

